<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <footer>
        <div id="bottomm">
			<!--<div id="bottomm-logo">
				<img th:src="@{/img/DTENG_LOGO(1500px).png}" alt="logo">
			</div>-->
			<div id="bottomm-text">
				<p>DT ENG INC.	|	CEO:  KWANG RO, GO	|	ADDRESS: (18487) 814, Dongbu-daero, Hwaseong-si, Gyeonggi-do, Republic of Korea	|	TEL: 031-8058-0411	|	FAX: 031-8058-0422</p>
				<p>COPYRIGHT BY DTENG. ALL RIGHTS RESERVED.</p>
			</div>
		</div>
    </footer>
</body>
</html>