<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
	    <div id="content-section">
			<div class="row custom-row row-cols-auto">
				<div class="col">
			      <a th:href="@{/company-kor.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">기업정보</button></a>
			    </div>
				<div class="col">
			      <a th:href="@{/greetings-kor.do}"><button type="button" id="select-button" class="btn btn-secondary custom-btn">인사말</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/history-kor.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">연혁</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/pr-kor.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">PR</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/location-kor.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">오시는 길</button></a>
			    </div>
			</div>
			</br>
			인사말
			<hr class="my-4">
			<div id="box-container">
				<div id="box-left">
					<img th:src="@{/img/greetings.png}" alt="greetings">
				</div>
				<div id="box-right">
					<p class="title">세계로 나아가는 기업! <br>품질로 보답하는 기업!</p>
					<hr>
					<p class="body-text">
						안녕하십니까?
						<br><br>
						주식회사 동탄이엔지의 대표이사 고광노입니다.
						<br><br>
						먼저, 동탄이엔지에 관심과 사랑을 보내주시는 고객 여러분께 진심으로 감사의 말씀을 드립니다.
						<br><br>
						동탄이엔지는 최고의 품질을 바탕으로 고객 만족을 위하여 전 임직원이 끊임없이 달려왔습니다.
						<br><br>
						저희 동탄이엔지는 국내시장은 물론 해외시장으로까지 ESC 제품을 수출하여 수출 천만불을 달성한 글로벌 기업으로 발전해 나가고 있습니다. 
						<br><br>
						또한 꾸준한 연구개발을 통하여 최고의 품질을 유지하는 기업으로 거듭나고 있습니다.
						<br><br>
						앞으로도 동탄이엔지는 ESC분야 최고라는 자부심으로,"고객 만족, 품질 경영"의 가치를 실천하며 나아가고자 합니다.
						<br><br>
						고객 여러분의 Needs를 충족시키기 위해 더욱 능동적이고 발 빠르게 대처하겠습니다.
						<br><br>
						늘 고객의 목소리에 귀 기울이며, 고객과 함께 성장하는 동탄이엔지가 되겠습니다.
						<br><br>
						감사합니다.
						<br>
						<br>
						<br>
						- 대표이사 고 광 노<br>
						<br>
					</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>