<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
	    <div id="content-section">
			<div class="row custom-row row-cols-auto">
				<div class="col">
			      <a th:href="@{/company-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">Company</button></a>
			    </div>
				<div class="col">
			      <a th:href="@{/greetings-eng.do}"><button type="button" id="select-button" class="btn btn-secondary custom-btn">Greetings</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/history-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">History</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/pr-eng.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">PR</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/location-eng.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">Location</button></a>
			    </div>
			</div>
			</br>
			Greetings
			<hr class="my-4">
			<div id="box-container">
				<div id="box-left">
					<img th:src="@{/img/greetings.png}" alt="greetings">
				</div>
				<div id="box-right">
					<p class="title">A company going global! <br>A company that rewards you with quality!</p>
					<hr>
					<p class="body-text">
						I am the CEO of DT ENG INC., Go Gwang-ro 
						<br><br>
						First of all, we would like to express our sincere gratitude to our customers for your interest and love in DT ENG.
						<br><br>
						All executives and employees of DT ENG have worked continuously to ensure customer satisfaction based on the highest quality.
						<br><br>
						DT ENG is developing into a global company that has achieved export sales of $10 million by exporting ESC products not only to the domestic market but also to overseas markets.
						<br><br>
						In addition, we are becoming a company that maintains the highest quality through continuous research and development.
						<br><br>
						In the future, DT ENG will continue to move forward by practicing the values of “customer satisfaction and quality management” with pride in being the best in the ESC field.
						<br><br>
						We will respond more proactively and quickly to meet the needs of our customers.
						<br><br>
						DT ENG will always listen to the voices of customers and grow together with them.
						<br><br>
						thank you
						<br>
						<br>
						<br>
						- CEO KWANG RO, GO<br>
						<br>
					</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>