<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
		<div id="content-section">
			<div class="row custom-row row-cols-auto">
				<div class="col">
			      <a th:href="@{/company-kor.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">기업정보</button></a>
			    </div>
				<div class="col">
					<a th:href="@{/greetings-kor.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">인사말</button></a>
				</div>
				<div class="col">
					<a th:href="@{/history-kor.do}"><button type="button" id="select-button" class="btn btn-secondary custom-btn">연혁</button></a>
				</div>
				<div class="col">
					<a th:href="@{/pr-kor.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">PR</button></a>
				</div>
				<div class="col">
					<a th:href="@{/location-kor.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">오시는 길</button></a>
				</div>
			</div>
			</br>
			연혁
			<hr class="my-4">
			<div id="box-container">
				<div id="box-center"><!-- S : 연혁 헤더 -->
					<div>
						<p class="title">“(주)동탄이엔지의 발자취”</p>
	
						<h3>High-precision Electrostatic Chuck Production Technology with Uncompromising Precision</h3>
	
						<p class="body-text">2011년 설립하여 2016년 ESC 제조 및 연구 및 개발 센터의 면모를 갖추기 시작한 (주)동탄이엔지는	지속적인 연구 개발을 통해 기술력과 노하우를 확보하고 있습니다.<br>
							이제 (주)동탄이엔지의 기술력과 노하우를 토대로 ESC 시장을 선도하고 새로운 가치를 창조하는 기업으로 우뚝 서겠습니다.</p>
					</div>
					<hr>
					<div id="history">
						<h2>2011</h2>
						<div class="list_right">
							<span></span>
							<div>
								<ul>
									<li>
										<dl>
											<dt>Dec</dt>
											<dd>사업 시작</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div><!--list_right-->
						<h2>2016</h2>
						<div class="list_left">
							<div>
								<ul>
									<li>
										<dl>
											<dd>설립</dd>
											<dt>Jul</dt>
										</dl>
										<dl>
											<dd>연구 및 개발 센터(기업부설연구소) 인증</dd>
											<dt>Dec</dt>
										</dl>
									</li>
								</ul>
							</div>
							<span></span>
						</div><!--list_left-->
						<h2>2017</h2>
						<div class="list_right">
							<span></span>
							<div>
								<ul>
									<li>
										<dl>
											<dt>Jan</dt>
											<dd>벤처 기업 인증</dd>
										</dl>
										<dl>
											<dt>Mar</dt>
											<dd>ISO 9001:2008 인증</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div><!--list_right-->
						<h2>2018</h2>
						<div class="list_left">
							<div>
								<ul>
									<li>
										<dl>
											<dd>ISO 9001:2015 인증</dd>
											<dt>Sep</dt>
										</dl>
									</li>
								</ul>
							</div>
							<span></span>
						</div><!--list_left-->
						<h2>2019</h2>
						<div class="list_right">
							<span></span>
							<div>
								<ul>
									<li>
										<dl>
											<dt>May</dt>
											<dd>특허 출원(예정)</dd>
										</dl>
										<dl>
											<dt>Dec</dt>
											<dd>500만 달러 수출 달성</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div><!--list_right-->
						<h2>2020</h2>
						<div class="list_left">
							<div>
								<ul>
									<li>
										<dl>
											<dd>ISO 14001:2015 인증</dd>
											<dt>May</dt>
										</dl>
										<dl>
											<dd>ISO 45001:2018 인증</dd>
											<dt>May</dt>
										</dl>
									</li>
								</ul>
							</div>
							<span></span>
						</div><!--list_left-->
						<h2>2022</h2>
						<div class="list_right">
							<span></span>
							<div>
								<ul>
									<li>
										<dl>
											<dt>Dec</dt>
											<dd>1,000만 달러 수출 달성</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div><!--list_right-->
					</div><!--history-->
				</div>
			</div>
	</section>
</body>
</html>