<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
	    <div id="content-section">
			<div class="row custom-row row-cols-auto">
				<div class="col">
			      <a th:href="@{/company-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">Company</button></a>
			    </div>
				<div class="col">
			      <a th:href="@{/greetings-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">Greetings</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/history-eng.do}"><button type="button" id="select-button" class="btn btn-secondary custom-btn">History</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/pr-eng.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">PR</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/location-eng.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">Location</button></a>
			    </div>
			</div>
			</br>
			History
			<hr class="my-4">
			<div id="box-container">
				<div id="box-center"><!-- S : 연혁 헤더 -->
					<div>
						<p class="title">“DT ENG INC.'s Footprints”</p>
	
						<h3>High-precision Electro-Static Chuck Production Technology with Uncompromising Precision</h3>
	
						<p class="body-text">Established in 2011, DT ENG INC. began to shape the identity of the ESC manufacturing and research & development center in 2016, securing technological expertise through continuous research and development.<br>
							Now, leveraging the technological capabilities and know-how of DT ENG INC., we aim to lead the ESC market and emerge as a company that creates new value.</p>
					</div>
					<hr>
					<div id="history">
						<h2>2011</h2>
						<div class="list_right">
							<span></span>
							<div>
								<ul>
									<li>
										<dl>
											<dt>Dec</dt>
											<dd>Start business</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div><!--list_right-->
						<h2>2016</h2>
						<div class="list_left">
							<div>
								<ul>
									<li>
										<dl>
											<dd>Establishment</dd>
											<dt>Jul</dt>
										</dl>
										<dl>
											<dd>R&D Center certification</dd>
											<dt>Dec</dt>
										</dl>
									</li>
								</ul>
							</div>
							<span></span>
						</div><!--list_left-->
						<h2>2017</h2>
						<div class="list_right">
							<span></span>
							<div>
								<ul>
									<li>
										<dl>
											<dt>Jan</dt>
											<dd>Venture Company certification</dd>
										</dl>
										<dl>
											<dt>Mar</dt>
											<dd>ISO 9001:2008 certification</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div><!--list_right-->
						<h2>2018</h2>
						<div class="list_left">
							<div>
								<ul>
									<li>
										<dl>
											<dd>ISO 9001:2015 certification</dd>
											<dt>Sep</dt>
										</dl>
									</li>
								</ul>
							</div>
							<span></span>
						</div><!--list_left-->
						<h2>2019</h2>
						<div class="list_right">
							<span></span>
							<div>
								<ul>
									<li>
										<dl>
											<dt>May</dt>
											<dd>Patent Registration</dd>
										</dl>
										<dl>
											<dt>Dec</dt>
											<dd>Achieved export of 5 million dollars</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div><!--list_right-->
						<h2>2020</h2>
						<div class="list_left">
							<div>
								<ul>
									<li>
										<dl>
											<dd>ISO 14001:2015 certification</dd>
											<dt>May</dt>
										</dl>
										<dl>
											<dd>ISO 45001:2018 certification</dd>
											<dt>May</dt>
										</dl>
									</li>
								</ul>
							</div>
							<span></span>
						</div><!--list_left-->
						<h2>2022</h2>
						<div class="list_right">
							<span></span>
							<div>
								<ul>
									<li>
										<dl>
											<dt>Dec</dt>
											<dd>Achieved export of 10 million dollars</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div><!--list_right-->
						<h2>2023</h2>
						<div class="list_left">
							<div>
								<ul>
									<li>
										<dl>
											<dd>Patent Registration</dd>
											<dt>Oct</dt>
										</dl>
									</li>
								</ul>
							</div>
							<span></span>
						</div><!--list_left-->
					</div>
				</div>
			</div>
	</section>
</body>
</html>