<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
	    <div id="content-section">
			<div class="row custom-row row-cols-auto">
				<div class="col">
			      <a th:href="@{/company-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">Company</button></a>
			    </div>
				<div class="col">
			      <a th:href="@{/greetings-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">Greetings</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/history-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">History</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/pr-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">PR</button></a>
			    </div>
			    <div class="col">
			      <a th:href="@{/location-eng.do}"><button type="button" id="select-button" class="btn btn-primary custom-btn">Location</button></a>
			    </div>
			</div>
			</br>
			Location
			<hr class="my-4">
            <div id="box-center"><!-- S : 연혁 헤더 -->
			<div>
				<p class="title">Head Office</p>
				<h3>ADDRESS: (18487) 53-15, Dongtansandan 6-gil, Hwaseong-si, Gyeonggi-do, Republic of Korea</h3>
				<p class="body-text">TEL: 031-768-8847 / FAX: 031-8058-0422</p>
			</div>
			<hr>
			<div id="box-container">
				<div id="box-left">
					<img th:src="@{/img/company_img.png}" alt="location">
				</div>
				<div id="box-right">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d945.2040642252458!2d127.08954716970732!3d37.16993898666375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b466425166741%3A0x429a61f842552bbe!2s53-15%20Dongtansandan%206-gil%2C%20Hwaseong-si%2C%20Gyeonggi-do!5e0!3m2!1sen!2skr!4v1721292551176!5m2!1sen!2skr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<hr>
		</div>
	</section>
</body>
</html>