<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
        <div id="mainbanner">
			<div class="slider-container">
		        <div class="slider">
		            <div class="slide">
		                <img th:src="@{/img/main_banner_01.jpg}" alt="main_banner1">
		                <div class="text">“고도의 정밀성”</div>
		            </div>
		            <div class="slide">
		                <img th:src="@{/img/main_banner_02.jpg}" alt="main_banner2">
		                <div class="text">“품질의 신뢰성”</div>
		            </div>
		            <div class="slide">
		                <img th:src="@{/img/main_banner_03.jpg}" alt="main_banner3">
		                <div class="text">“공정의 체계성”</div>
		            </div>
		        </div>
				<div id="itams-container">
					<div id="itams-left">
						<a href="/company-kor.do"><img th:src="@{/img/company.png}" alt="itams"></a>
						<div class="itams-text">기업정보</div>
					</div>
					<div id="itams">
						<a href="/business-kor.do"><img th:src="@{/img/business.png}" alt="itams"></a>
						<div class="itams-text">사업소개</div>
					</div>
					<div id="itams-right">
						<a href="/contact-kor.do"><img th:src="@{/img/contact.png}" alt="itams"></a>
						<div class="itams-text">고객지원</div>
					</div>
				</div>
		    </div>
		</div>
	</section>
</body>
</html>