<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
		<div id="content-section">
			<div class="row custom-row row-cols-auto">
				<div class="col">
			      <a th:href="@{/company-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">Company</button></a>
			    </div>
				<div class="col">
					<a th:href="@{/greetings-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">Greetings</button></a>
				</div>
				<div class="col">
					<a th:href="@{/history-eng.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">History</button></a>
				</div>
				<div class="col">
					<a th:href="@{/pr-eng.do}"><button type="button" id="select-button" class="btn btn-primary custom-btn">PR</button></a>
				</div>
				<div class="col">
					<a th:href="@{/location-eng.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">Directions</button></a>
				</div>
			</div>
			</br>
			PR
			<hr class="my-4">
			<div id="box-container">
				<div id="box-center">
					<div>
					    <p class="title">DT ENG INC.'s Public Relations</p>
					
					    <h3>Certification</h3>
					    <hr>
					    <p class="body-text">DT ENG INC. is an advanced company that adheres to ISO standards certifying quality management systems, environmental management systems, and occupational health and safety management systems.</p>
					
					    <div id="document">
					        <table class="default-table">
					            <tr>
					                <th style="width: 100%;" colspan="6">Certification Details</th>
					            </tr>
					            <tr>
					                <td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO9001-kor.png}" alt="ISO9001-kor"></td>
					                <td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO9001-eng.png}" alt="ISO9001-eng"></td>
					                <td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO14001-kor.png}" alt="ISO14001-kor"></td>
					                <td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO14001-eng.png}" alt="ISO14001-kor"></td>
					                <td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO45001-kor.png}" alt="ISO45001-kor"></td>
					                <td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO45001-eng.png}" alt="ISO45001-kor"></td>
					            </tr>
					            <tr>
					                <td colspan="2">ISO 9001 Quality Management System Certification (2017.03.16)</td>
					                <td colspan="2">ISO 14001 Environmental Management System Certification (2020.05.06)</td>
					                <td colspan="2">ISO 45001 Occupational Health and Safety Management System Certification (2020.05.06)</td>
					            </tr>
					        </table>
					    </div>
					    <br>
					    <br>
					    <h3>Patents</h3>
					    <hr>
					    <p class="body-text">DT ENG INC. constantly strives to secure leading technological capabilities in the industry.</p>
					    <div id="patent">
					        <table class="default-table">
					            <tr>
					                <th style="width: 100%;" colspan="6">Applied Patents (10)</th>
					            </tr>
					            <tr>
					                <td><img th:src="@{/img/patent01.png}" alt="patent01"></td>
					                <td><img th:src="@{/img/patent02.png}" alt="patent02"></td>
					                <td><img th:src="@{/img/patent03.png}" alt="patent03"></td>
					                <td><img th:src="@{/img/patent04.png}" alt="patent04"></td>
					                <td><img th:src="@{/img/patent05.png}" alt="patent05"></td>
					                <td><img th:src="@{/img/patent06.png}" alt="patent06"></td>
					            </tr>
					            <tr>
					                <td><img th:src="@{/img/patent07.png}" alt="patent07"></td>
					                <td><img th:src="@{/img/patent08.png}" alt="patent08"></td>
					                <td><img th:src="@{/img/patent09.png}" alt="patent09"></td>
					                <td><img th:src="@{/img/patent10.png}" alt="patent10"></td>
					                <td></td>
					                <td></td>
					            </tr>
					        </table>
					    </div>
					    <br>
					    <br>
					    <h3>Awards</h3>
					    <hr>
					    <p class="body-text">
					    Key awards received by DT ENG INC. <br>
					    <div id="document">
					        <table class="default-table">
					            <tr>
					                <th style="width: 100%;" colspan="6">Awards</th>
					            </tr>
					            <tr>
					                <td style="width: 16%; text-align: center;"><img th:src="@{/img/5million.png}" alt="5million"></td>
					                <td style="width: 16%; text-align: center;"><img th:src="@{/img/10million.png}" alt="10million"></td>
					                <td style="width: 16%; text-align: center;"></td>
					                <td style="width: 16%; text-align: center;"></td>
					                <td style="width: 16%; text-align: center;"></td>
					                <td style="width: 16%; text-align: center;"></td>
					            </tr>
					            <tr>
					                <td>Top Exporter of Five Million Dollars (2019.12.05)</td>
					                <td>Top Exporter of Ten Million Dollars (2022.12.05)</td>
					                <td></td>
					                <td></td>
					                <td></td>
					                <td></td>
					            </tr>
					        </table>
					    </div>
					    <br>
					    <br>
					    <h3>Collaboration</h3>
					    <hr>
					    <p class="body-text">
					    DT ENG INC. is achieving technological leaps through close collaboration relationships.<br>
					    <div id="recruitment-link">
					        <img th:src="@{/img/partners.png}" alt="partners">
					    </div>	
					    <br>
					    <br>
					    <h3>Recruitment Linkage</h3>
					    <hr>
					    <p class="body-text">
					    DT ENG INC. provides opportunities for youth employment, actively hires talents with professional expertise, and promotes recruitment linkage projects through collaboration with local communities and educational institutions.<br>
					    <div id="recruitment-link">
					        <img th:src="@{/img/recruitment-link.png}" alt="recruitment-link">
					    </div>				
					</div>
					<hr>
				</div>
			</div>
	</section>
</body>
</html>
