<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
		<div id="content-section">
			<div class="row custom-row row-cols-auto">
				<div class="col">
			      <a th:href="@{/company-kor.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">기업정보</button></a>
			    </div>
				<div class="col">
					<a th:href="@{/greetings-kor.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">인사말</button></a>
				</div>
				<div class="col">
					<a th:href="@{/history-kor.do}"><button type="button" id="none-select-button" class="btn btn-secondary custom-btn">연혁</button></a>
				</div>
				<div class="col">
					<a th:href="@{/pr-kor.do}"><button type="button" id="select-button" class="btn btn-primary custom-btn">PR</button></a>
				</div>
				<div class="col">
					<a th:href="@{/location-kor.do}"><button type="button" id="none-select-button" class="btn btn-primary custom-btn">오시는 길</button></a>
				</div>
			</div>
			</br>
			PR
			<hr class="my-4">
			<div id="box-container">
				<div id="box-center">
					<div>
						<p class="title">(주)동탄이엔지의 Public Relations</p>
	
						<h3>인증</h3>
						<hr>
						<p class="body-text">(주)동탄이엔지는 품질경영시스템, 환경경영시스템, 안전보건경영시스템을 인증하는 ISO표준을 준수하는 선진기업입니다. </p>
						
						<div id="document">
							<table class="default-table">
								<tr>
									<th style="width: 100%;" colspan="6">인증 취득 내용</th>
								</tr>
								<tr>
									<td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO9001-kor.png}" alt="ISO9001-kor"></td>
									<td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO9001-eng.png}" alt="ISO9001-eng"></td>
									<td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO14001-kor.png}" alt="ISO14001-kor"></td>
									<td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO14001-eng.png}" alt="ISO14001-kor"></td>
									<td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO45001-kor.png}" alt="ISO45001-kor"></td>
									<td style="width: 16%; text-align: center;"><img th:src="@{/img/ISO45001-eng.png}" alt="ISO45001-kor"></td>
								</tr>
								<tr>
									<td colspan="2">ISO 9001 품질경영시스템인증서 (2017.03.16)</td>
									<td colspan="2">ISO 14001 환경경영시스템인증서 (2020.05.06)</td>
									<td colspan="2">ISO 45001 안전보건경영시스템인증서 (2020.05.06)</td>
								</tr>
							</table>
						</div>
						<br>
						<br>
						<h3>특허</h3>
						<hr>
						<p class="body-text">(주)동탄이엔지는 산업을 선도하는 기술력 확보를 위해 끊임없이 노력하고 있습니다. </p>
						<div id="patent">
							<table class="default-table">
								<tr>
									<th style="width: 100%;" colspan="6">출원 특허 (10건)</th>

								</tr>
								<tr>
									<td><img th:src="@{/img/patent01.png}" alt="patent01"></td>
									<td><img th:src="@{/img/patent02.png}" alt="patent02"></td>
									<td><img th:src="@{/img/patent03.png}" alt="patent03"></td>
									<td><img th:src="@{/img/patent04.png}" alt="patent04"></td>
									<td><img th:src="@{/img/patent05.png}" alt="patent05"></td>
									<td><img th:src="@{/img/patent06.png}" alt="patent06"></td>
								</tr>
								<tr>
									<td><img th:src="@{/img/patent07.png}" alt="patent07"></td>
									<td><img th:src="@{/img/patent08.png}" alt="patent08"></td>
									<td><img th:src="@{/img/patent09.png}" alt="patent09"></td>
									<td><img th:src="@{/img/patent10.png}" alt="patent10"></td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</div>
						<br>
						<br>
						<h3>수상내용</h3>
						<hr>
						<p class="body-text">
						(주)동탄이엔지의 주요 수상 내용입니다. <br>
						<div id="document">
							<table class="default-table">
								<tr>
									<th style="width: 100%;" colspan="6">수상내용</th>
								</tr>
								<tr>
									<td style="width: 16%; text-align: center;"><img th:src="@{/img/5million.png}" alt="5million"></td>
									<td style="width: 16%; text-align: center;"><img th:src="@{/img/10million.png}" alt="10million"></td>
									<td style="width: 16%; text-align: center;"></td>
									<td style="width: 16%; text-align: center;"></td>
									<td style="width: 16%; text-align: center;"></td>
									<td style="width: 16%; text-align: center;"></td>
								</tr>
								<tr>
									<td>오백만불 수출의 탑 (2019.12.05)</td>
									<td>천만불 수출의 탑 (2022.12.05)</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</div>
						<br>
						<br>
						<h3>협력관계</h3>
						<hr>
						<p class="body-text">
						(주)동탄이엔지는 긴밀한 협력관계를 통해 기술 발전의 도약을 이룩하고 있습니다.<br>
						<div id="recruitment-link">
							<img th:src="@{/img/partners.png}" alt="partners">
						</div>	
						<br>
						<br>
						<h3>채용연계</h3>
						<hr>
						<p class="body-text">
						(주)동탄이엔지는 청년에게 고용창출의 기회를 제공하고 직무 전문성을 갖춘 인재를 적극적으로 채용하고자 지역사회 및 교육기관과의 협력을 통해 채용 연계 사업을 추진하고 있습니다.<br>
						<div id="recruitment-link">
							<img th:src="@{/img/recruitment-link.png}" alt="recruitment-link">
						</div>				
					</div>
					<hr>
				</div>
			</div>
	</section>
</body>
</html>