<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
		<div id="content-section">
			</br>
			채용안내
			<hr class="my-4">
			<div id="box-container">
				<div id="box-left">
					<img th:src="@{/img/welcome.png}" alt="welcome">
				</div>
				<div id="box-right">
					<p class="title">“도전의 가치를 실현하는 기술혁신 기업”</p>
	
					<h3>(주)동탄이엔지는 사람의 힘을 믿습니다.</h3>
	
					<p class="body-text">우리는 최신 기술 혁신을 통해 도전의 가치를 실현하는 기업으로, 임직원의 도전을 존중하고 지원하고 있습니다.</p>
					<hr>
					<h4>복리후생</h4>
					<table class="default-table">
						<tr>
							<th>구분</th>
							<th>내용</th>
						</tr>
						<tr>
							<td>4대보험</td>
							<td>국민연금, 고용보험, 산재보험, 건강보험</td>
						</tr>
						<tr>
							<td>보상제도</td>
							<td>퇴직연금, 성과금, 포상(근속 10년↑)</td>
						</tr>
						<tr>
							<td>급여제도</td>
							<td>퇴직금연금, 야근수당, 휴일(특근수당), 연차수당</td>
				
						</tr>
						<tr>
							<td>지원</td>
							<td>건강검진, 체력단련실, 실내스크린골프장, 학자금 지원(근속 3년↑ 본인/자녀), 관용차 렌트(3일)</td>
						</tr>
						<tr>
							<td>교육/생활</td>
							<td>워크샵, 신입사원교육(OJT), 점심식사제공</td>
						</tr>
						<tr>
							<td>근무환경</td>
							<td>카페테리아(차/커피), 회의실, 유니폼지급, 노트북지급</td>
						</tr>
						<tr>
							<td>조직문화</td>
							<td>회식강요안함, 자유로운 연차사용</td>
						</tr>
						<tr>
							<td>경조비 지원</td>
							<td>각종 경조사별 경조금 및 경조휴가</td>
						</tr>
						<tr>
							<td>선물</td>
							<td>명절선물</td>
						</tr>
					</table>
					<br>
					<br>
					<h4>채용절차</h3>
					<img th:src="@{/img/rec-process-kor.png}" alt="rec-process">
				</div>
			</div>
			<hr class="my-4">
			<div id="box-container">
				<div id="box-center"><!-- S : 연혁 헤더 -->
					<div id="apply" class="row custom-row row-cols-auto">
						<div class="col" id="items-center">
							<a th:href="@{https://www.saramin.co.kr/zf_user/company-info/view-inner-recruit?csn=N3N3QjNpSjgrNTZSeU55a2IreFdTQT09}" target="_blank"><button type="button" id="apply-now-button" class="btn btn-secondary custom-btn">지원하러 가기</button></a>
						</div>
						
					</div>
				</div>
			</div>
	</section>
</body>
</html>