<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section>
		<div id="content-section">
			</br>
			Recruitment Information
			<hr class="my-4">
			<div id="box-container">
				<div id="box-left">
					<img th:src="@{/img/welcome.png}" alt="welcome">
				</div>
				<div id="box-right">
					<p class="title">“A technology innovation company realizing the value of challenges”</p>
	
					<h3>DT ENG INC. believes in the power of people.</h3>
	
					<p class="body-text">We are a company that realizes the value of challenges through the latest
						technological innovation, respecting and supporting the challenges of our employees.</p>
					<hr>
					<h4>Employee Benefits</h4>
					<br>
					<table class="default-table">
						<tr>
							<th>Category</th>
							<th>Content</th>
						</tr>
						<tr>
							<td>Social Insurance</td>
							<td>National Pension, Employment Insurance, Industrial Accident Insurance, Health Insurance</td>
						</tr>
						<tr>
							<td>Compensation System</td>
							<td>Retirement Pension, Performance Bonus, Rewards (10 years of service or more)</td>
						</tr>
						<tr>
							<td>Salary System</td>
							<td>Severance Pay and Pension, Overtime Allowance, Holiday (Special Work Allowance), Annual Leave Allowance</td>
				
						</tr>
						<tr>
							<td>Support</td>
							<td>Health Check-ups, Fitness Center, Indoor Screen Golf, Educational Aid (for employees with 3 years of service or more and their children), Courtesy Car Rental (3 days)</td>
						</tr>
						<tr>
							<td>Education/Living</td>
							<td> Workshops, New Employee Training (OJT), Provided Lunch</td>
						</tr>
						<tr>
							<td>Working Environment</td>
							<td>Cafeteria (Tea/Coffee), Meeting Rooms, Uniform Distribution, Laptop Issuance</td>
						</tr>
						<tr>
							<td>Organizational Culture</td>
							<td>No Mandatory Drinking Sessions, Flexible Use of Annual Leave</td>
						</tr>
						<tr>
							<td>Expenditure for congratulations and condolences</td>
							<td>Various Event-Specific Allowances and Leave for Special Occasions</td>
						</tr>
						<tr>
							<td>Gifts</td>
							<td>Holiday Gifts</td>
						</tr>
					</table>
					<br>
					<br>
					<h3>Recruitment Process</h3>
					<img th:src="@{/img/rec-process-eng.png}" alt="rec-process">
				</div>
			</div>
			<hr class="my-4">
			<div id="box-container">
				<div id="box-center">
					<div id="apply" class="row custom-row row-cols-auto">
						<div class="col" id="items-center">
							<a th:href="@{https://www.saramin.co.kr/zf_user/company-info/view-inner-recruit?csn=N3N3QjNpSjgrNTZSeU55a2IreFdTQT09}"
								target="_blank"><button type="button" id="apply-now-button"
									class="btn btn-secondary custom-btn">Apply Now</button></a>
						</div>
	
					</div>
				</div>
			</div>
	</section>
</body>
</html>